body{
    background-color: #ffdf8e;
    background-size: cover;
}
.valge{
    background-color: white;
    padding: 50px;
    border-radius: 25px;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-size: 40px;
}
.must{
    background-color: black;
    color: white;
    width: 80%;
    left: 10%;
    padding: 35px;
    border-radius: 25px;
    font-family: consolas, 'Courier New', Courier, monospace;
}
.shadow{
    box-shadow: 125px 100px rgba(0, 0, 0, 0.5); /* #978452; */
}
.vasakul{
    width: 50%;
    left: 15%;
}
.paremal{
    width: 50%;
    right: 15%;
}
.suur{
    width: 90%;
    left: 5%;
}