body{
    background-color: #ffdf8e;
    background-size: cover;
}

.valge{
    background-color: white;
    padding: 50px;
    border-radius: 25px;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-size: 40px;
}

.must{
    background-color: black;
    color: white;
    z-index: 1;
    padding: 35px 0;
    border-radius: 25px;
    font-family: consolas, 'Courier New', Courier, monospace;
}

.shadow{
    box-shadow: 125px 100px rgba(0, 0, 0, 0.5); /* #978452; */
}

.code {
    overflow: auto;
    background:
    linear-gradient(to right, #000 33%, rgba(0,0,0, 0)), linear-gradient(to right, rgba(0,0,0, 0), #000 66%) 100%, radial-gradient(farthest-side at 0% 50%, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0)), radial-gradient(farthest-side at 100% 50%, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0)) 100%;
    background-repeat: no-repeat;
    background-attachment: local, local, scroll, scroll;
    background-size: 78px 100%, 78px 100%, 26px 100%, 26px 100%;
    background-color: black;
    scrollbar-color: rgb(126, 126, 126) transparent;
    padding: 0 30px;
}


code {
    color: rgb(129, 129, 129);
}

.syntax-comment {
    color: greenyellow;
}

.syntax-string {
    color: rgb(88, 122, 235);
}

.syntax-keyword {
    color: rgb(211, 162, 0);
}

.vasakul{
    width: 800px;   
    margin-left: 150px;
    margin-bottom: 150px;
    float: left;
}

.paremal{
    width: 800px;   
    margin-right: 150px;
    margin-bottom: 150px;
    float: right;
}

.suur{
    width: 1000px;
    margin-left: 150px;
}

#tutvustus{
    overflow: hidden;
}